.nav_bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  line-height: 3em;
}

.nav_bar #logo {
  padding-left: 15px;
  color: white;
  text-decoration: none;
}

.nav_bar ul {
  float: right;
  display: block;
  margin: 0 auto;
}

.nav_bar ul li {
  display: inline;
  padding-right: 15px;
}

.nav_bar ul li a {
  color: white;
  text-decoration: none;
}
