<div class="play">
<h1> Battle! </h1>
<ul class="board">
  <li id="cell1"></li>
  <li id="cell2"></li>
  <li id="cell3"></li>
  <li id="cell4"></li>
  <li id="cell5"></li>
  <li id="cell6"></li>
  <li id="cell7"></li>
  <li id="cell8"></li>
  <li id="cell9"></li>
</ul>
<div>
